.ui.menu {
    margin: 0em 0em;
}

/* To set up a margin between the menu and the content above it */
/* Uncomment or use the main_container margin top */
/* .ui.menu:last-child {
    margin-bottom: 110px;
} */

.column {
    max-width: 500px;
    margin-top: 50px;
}

label {
    text-align: left;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #00B5AD; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main_header {
    box-shadow: 0px 0px 10px 0px #A3A8B4;
}

.menu_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
}

.menu_avatar {
    padding: 10px;
    padding-right: 15px;
    width: 65px;
    height: 60px;
    margin: auto;
    float: right;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
    margin-top: 15px;
}

.ui.grid.top_menu_grid {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ui.grid.top_menu_grid>.column:not(.row) {
    padding-top: 0px;
    padding-bottom: 0px;
}

.column {
    margin-top: 0px;
}

.main_container {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.Toastify__toast--info {
    background-color:#00B5AD;
}

.separator {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background-color:#f3f3f3;
}

.token_list {
    margin-top: -10px;
}

.ui.comments {
    margin:0;
}

.conversation_box {
    height: 500px;
    background-color: #f3f3f3;
    border-radius: 20px;
}

.transfert_modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_container {
    background-color: white;
    width: 300px;
    /* height: 300px; */
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.modal_close {
    text-align: right;
}

.token_item {
    padding: 10px;
    border-radius: 10px;
}

.token_item:hover {
    background-color: #f3f3f3;
}